* {
  box-sizing: border-box;
}


body {
  font-family: monospace;
  padding: 10px;
  background-image: url("images/FORERUNNER3.jpg");
  font-size: 15px;
  font
}


/* Header/Blog Title */
.header {
padding: 30px;
  text-align: center;
  background-image: url("images/INFINITE1.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  font-family: monospace;
  font-weight: bold;
  background-color: #535a54;
  color: #84ff00;
  
  /* optional, center the image */

}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #7EBC3B;
  color: #535a54;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #535a54;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ADD55C;
  color: #535a54;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}


.rightcolumn img:hover {

    transform:scale(1.03);

  }
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #ADD55C;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #ADD55C;
  padding: 20px;
  margin-top: 20px;
  color: #535a54;
}
.cardi {
  background-color: #ADD55C;
  padding: 20px;
  margin-top: 20px;
  color: #535a54;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ADD55C;
  margin-top: 20px;
  color: #535a54;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.dark {
  background-image: url("images/HALOREACH.jpg");
  color: #DCE6D6;
}

.dark .header {
padding: 30px;
  text-align: center;
  background-image: url("images/Halo-Background.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  font-family: monospace;
  font-weight: bold;
  background-color: #535a54;
  color: #85ebff;
}

.dark .rightcolumn {
  background-image: : url("Game.4jpg.jpg");
  color: #DCE6D6;
}
.dark .leftcolumn {
  
  color: #DCE6D6;
}
.dark .card {
  background-color:#144376;
  color: #DCE6D6;
}

.dark .cardi {
  background-color:#144376;
  color: #DCE6D6;
}
.dark .topnav {
  background-color: #144b76;
  color: #DCE6D6;
}

.dark .topnav a:hover {
  background-color: #5dc1d5;
  color: #535a54;
}
.dark .navbar {
  background-color: #316a96;
}
.dark #dark-mode-button {
  background-color: #727272;
  color: #DCE6D6;
  border: 1px solid #000000;
  
}
.dark #dark-mode-button:hover {
  background-color: #929292;
}
.dark a {
  color:#DCE6D6;
}
.dark .footer {
     padding: 20px;
      text-align: center;
      background: #144676;
      margin-top: 20px;
      color: #DCE6D6;
  }



.checked {
  color: orange;
}